/* Default Styles */
* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: hidden;
}

canvas {
    background-color: rgb(20, 20, 20);
}

#conway_controls {
  overflow: none;
}

#conway_controls ul li {
   list-style-type: none;
   width: 100px;
   float: left;
   text-align: left;
}

#conway_controls ul li a {
   color: rgb(80, 80, 80);
   text-decoration: none;
}

#conway_controls ul li a:hover {
   color: rgb(150, 150, 150);
}

.control_button {
   font-family: -apple-system, Verdana, sans-serif;
   font-size: 20px;
   outline: on;
}